/* ORBITRON FONT IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

:root {
    /* initial colour scheme for portfolio */
    --white: #FFFFFF;
    --silverpink: #c4aead;
    --darkombre:  #988784;
    --gentleombre: #DDCAC5;
    --strongombre: #494240;
    --strongbrown: #523833;
    --darkgrey:  #6d6d6d;
    --black: #171718;
}

html {
    font-size: 16px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: var(--black);
}

/* Generic h1-h6 styling */
h1, h2, h3, h4, h5, h6 {
    color: var(--strongombre);
    font-family: 'Orbitron', Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 34px;
}
  
h2 {
    font-size: 32px;
}
  
h3 {
    font-size: 30px;
}
  
h4 {
    font-size: 28px;
}
  
h5 {
    font-size: 26px;
}
  
h6 {
    font-size: 24px;
}

p {
    margin-bottom: 10px;
    font-size: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

/* Navigation bar styling */
.navbar {
    width: 100%;
    padding: 20px;
    display: block;
    overflow: auto;
    display: inline-block;
    background-color: var(--black);
    color: var(--silverpink);
    font-family: 'Orbitron', Arial, Helvetica, sans-serif;
    font-size: 20px;
    list-style-type: none;
    position: fixed;
    top: 0;
    z-index: 1;
}

.nav-links {
    color: var(--silverpink);
    float: left;
    padding: 12px;
    width: 33.3%;
    text-align: center;
}

.nav-links:hover {
    transition: 1s;
    background-color: var(--silverpink);
    color: var(--darkgrey);
}

aside {
    flex: 1;
    padding: 80px;
    text-align: left;
    float: left;
}

article nav {
    padding-top: 15px;
    float: right;
    justify-content: center;
    font-family: 'Orbitron', Arial, Helvetica, sans-serif;
    font-size: 20px;
}

article nav ul {
    list-style-type: none;
}

article nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* ID for main image at the top of portfolio page */
.personal-id-card {
    height: 100vh;
    width: 100%;
    background-color: var(--strongombre);
    display: flex;
}

.id-card {
    border: 2px solid var(--gentleombre);
    border-radius: 5px;
    max-width: 720px;
    margin: auto;
    color: var(--white);
    padding: 16px;
    flex-basis: 100%;
    background-color: var(--strongombre);
    box-shadow: 0px 0px 3px 1px var(--silverpink), inset 0px 0px 3px 1px var(--silverpink);
}

.profile-row {
    display: flex;
}

.profile-row .profilepic {
    position: relative;
    flex-basis: 33.3%;
    align-self: center;
    margin: 24px;
}

.profile-row .profilepic img {
    display: block;
    max-width: 100%;
    border-radius: 50%;
    box-shadow: 0px 0px 3px 1px var(--silverpink), inset 0px 0px 3px 1px var(--silverpink);
}

.profile-row .profilepic .pp-arc-outer {
    position: absolute;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    border: 6px solid transparent;
    border-bottom-color: var(--gentleombre);
    border-radius: 50%;
    top: -10px;
    left: -10px;

    animation-duration: 2s;
    animation-name: rotate-anticlock;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotate-anticlock {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-360deg);
    }
}

.profile-row .profilepic .pp-arc-inner {
    position: absolute;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    border: 6px solid transparent;
    border-top-color: var(--gentleombre);
    border-radius: 50%;
    top: -6px;
    left: -6px;

    animation-duration: 2s;
    animation-name: rotate-clock;

    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
  
@keyframes rotate-clock {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

.profile-row .profiledesc {
    flex-grow: 66.6%;
    padding: 16px;
    font-family: 'Orbitron', Arial, Helvetica, sans-serif;
    color: var(--gentleombre);
    text-shadow: 0px 0px 4px var(--silverpink);
    letter-spacing: 1px;
    line-height: 2;
    text-align: center;
}

.profile-row .profiledesc h1, a{
    margin: 0px;
    color: var(--gentleombre);
}

.id-card-links{ 
    color: var(--gentleombre);
    text-decoration: underline;
}

.id-card-links:hover {
    transition: 1s;
    font-weight: 900;
}

/* Styling for main content in portfolio sections */
.maincontainer {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: space-between;
    color: var(--darkgrey);
    background-color: var(--gentleombre);
}

.mainparagraph {
    flex: 4;
    padding: 60px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    line-height: 1.6;
    text-align: justify;
}

.links{
    color: var(--strongombre);
    flex-direction: row;
}

/* Card classes to display my work on my portfolio */
.card {
    flex: 200px;
    padding: 10px;
    text-align: center;
    border-style: solid;
    flex-wrap: wrap;
    border-width: 1px;
    border-radius: 20px;
    transition: flex-basis 500ms linear;
}

.cardmain {
    flex: 0 0 100%;
    padding: 10px;
    text-align: center;
    border-style: solid;
    flex-wrap: wrap;
    border-width: 1px;
    border-radius: 20px;
    transition: flex-basis 500ms linear;
}
  
.card-header {
    padding: 20px;
    flex-basis: 33.3%;
    background-color: var(--darkombre);
    color: var(--strongombre);
    border-radius: 20px 20px 0px 0px;
}
  
.workimage {
    max-width: 100%; 
    flex-basis: 66.6%;
    height: auto;
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: 0.5s ease;
    backface-visibility: hidden;
}

.card:hover, .cardmain:hover .workimage {
    transition: 0.5s;
    opacity: 0.5;
}

/* Footer configuration */
footer {
    padding: 15px 0px;
    margin: 15px 0px;
    clear: both;
    text-align: center;
}

footer h2 {
    margin: 15px 0px;
    padding: 15px 0px;
    font-size: 20px;
    color: var(--gentleombre);
    text-align: center;
}

footer p {
    font-family: 'Orbitron', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 15px 0px;
    padding: 15px 0px;
    color: var(--gentleombre);
    line-height: 1.6;
}

.contactBtn {
    font-family: 'Orbitron', Arial, Helvetica, sans-serif;
    cursor: pointer;
    margin: 6px;
    padding: 6px;
    border-radius: 6px;
    color: var(--gentleombre);
    background-color: var(--strongombre);
    text-decoration: none;
}

.contactBtn:hover {
    transition: 0.5s;
    font-weight: 900;
    background-color: var(--gentleombre);
    color: var(--strongombre);
}

/* Configs for smaller devices and screen sizes */
@media screen and (min-width: 768px) {
    .card-column {
      flex: 0 0 50%;
      max-width: 50%;
    }

}

@media screen and (min-width:992px) {
    header{
        width: 100%;
    }

    .card-column{
        flex: 0 0 33.333%;
        max-width: 33.333%;
    }
}